html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}



@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

#root {
    padding-top: 100px; /* Default padding for desktop */
    
    @include mobile {
        padding-top: 60px; /* Adjust based on the height of your mobile navbar */
    }
}

section {
    height: 100vh;
    scroll-snap-align: start; /* Ensure it snaps to the top of the viewport */
    
    @include mobile {
        height: calc(100vh); /* Adjust based on the height of your mobile navbar */
    }
}